<div class="flex flex-col justify-center items-center h-[80vh]">
    <span class="bg-gradient-to-l gap-4  from-blue-800 to-indigo-800 md:p-12 sm:p-8 p-4 flex justify-center flex-col items-center not-found-card" >
        <figure>
            <img src="../../assets/error-404.png" class="md:w-[128px] w-[64px]">
        </figure>
        <span class="flex flex-col justify-center items-center">
            <h1 class="lg:text-5xl md:text-3xl text-lg text-center font-black text-red-500">404 NOT FOUND</h1>
        </span>
    </span>
</div>